{% extends 'FamilyMainBundle:Default:layout.html.twig' %}

{% block titre %}
	{{ person }}
{% endblock %}

{% block soustitre %}
<a href="{{  path('family_main_family', {'id' : person.family.id} ) }}">Revenir à la famille</a>
<span class="pull-right">
	<a href="{{  path('family_main_person_edit', {'id' : person.id} ) }}">
		Modifier les informations
	</a>
	{% if app.user.person == person %}
	<div class="v-separ" style="height:18px;"></div>
	<a title="Mes options" href="{{ path('family_main_userSettings') }}">
		<span class="glyphicon glyphicon-cog"></span>
	</a>
	{% endif %}
</span>
{% endblock %}

{% block principal %}
	<article id="personId">
		{% if person.parentsRelation %}
		{% set frstPers = person.parentsRelation.firstPerson %}
		{% set secPers = person.parentsRelation.secondPerson %}
		{% if frstPers or secPers %}
		<div id="parentsGen" class="row">
			<div class="col-md-5 col-sm-6 col-xs-6">
				<div id="parent1">
					{% if frstPers %}
					<b>{% if frstPers.sex == "F" %}Mère{% elseif frstPers.sex == "M" %}Père{% else %}Parent{% endif %}</b>
					<br>
					<a href="{{ path('family_main_person', {'id': frstPers.id}) }}">{{ frstPers }}</a>
					{% else %}
					<b>Parent 1</b>
					{% endif %}
				</div>
			</div>
			<div style="visibility:hidden;" class="col-md-2 visible-md-block visible-lg-block" ></div>
			<div class="col-md-5 col-sm-6 col-xs-6">
				<div id="parent2">
					{% if secPers %}
					<b>{% if secPers.sex == "F" %}Mère{% elseif secPers.sex == "M" %}Père{% else %}Parent{% endif %}</b>
					<br>
					<a href="{{ path('family_main_person', {'id': secPers.id}) }}">{{ secPers }}</a>
					{% else %}
					<b>Parent 2</b>
					{% endif %}
				</div>
			</div>
		</div>
		{% endif %}
		{% endif %}
		
		<div id="thisGen" class="row">
			<div class="col-md-3 col-sm-2">
				<div id="freressoeurs">
					<b>Frères et Soeurs</b>
					<br>
					{% for brotherSister in person.brothersSisters %}
						<a href="{{ path('family_main_person', {'id': brotherSister.id}) }}">{{ brotherSister }}</a>
						<br>
					{% endfor %}
				</div>
			</div>
			<div class="col-md-6 col-sm-8">
				<div id="person">
					<b>Prénom : </b>{{ person.firstName }} <br>
					<b>Autres prénoms : </b>{{ person.middleNames }} <br>
					<b>{% if person.sex == 'F' %}Nom de jeune fille : {% else %}Nom de famille : {% endif %}</b>
					{{ person.lastName }} <br>
					<b>Surnoms ou titres : </b>{{ person.surname }} <br>
					<b>Sexe : </b>{{ person.sex }} <br>
					<b>Date de naissance : </b>{{ person.birthDate | localizeddate('full', 'none') | capitalize }} <br>
					{% if person.deathDate %}
					<b>Date de déces : </b>{{ person.deathDate | localizeddate('full', 'none') | capitalize }} <br>
					{% endif %}
				</div>
			</div>
			<div class="col-md-3 col-sm-2">
				<div id="relations">
					<b>Relation(s)</b>
					<br>
					{% for mate in person.mates %}
						<a href="{{ path('family_main_person', {'id': mate.id}) }}">{{ mate }}</a>
						<br>
					{% endfor %}
				</div>
			</div>
		</div>

		<div id="childrenGen" class="row">
			{% for relation in person.relations %}
				{% if relation.firstPerson.id == person.id %}
					{% set couple = relation.secondPerson %}
				{% else %}
					{% set couple = relation.firstPerson %}
				{% endif %}

				{% for child in relation.children %}

				<div class="col-md-3 col-sm-4 col-xs-6">
					<div class="enfant">
						<b>Enfant avec </b><a href="{{ path('family_main_person', {'id': couple.id}) }}">{{ couple }}</a>
						<br>
						<a href="{{ path('family_main_person', {'id': child.id}) }}">{{ child }}</a>
					</div>
				</div>

				{% endfor %}

			{% endfor %}

		</div>
	</article>

	<div class="h-separ"></div>

	<article id="personDocs" class="row">
		<div class="col-md-12">
			<div class="docsTitle">
				<b>Documents associés à cette personne</b>
			</div>
			<div id="documents">
				{% for doc in person.documents %}
				<div class="docFrame">
					<a href="{{ path('family_main_document_show', {'id': doc.id}) }}">
						<img src="{{ asset(doc.webPath) }}" alt="Aperçu non disponible">
						<label for="" class="docLegend overme" title="{{ doc.name }}">{{ doc.name }}</label>
					</a>
				</div>
				{% else %}
					<div class="noDoc">
						Aucun document.
					</div>
				{% endfor %}
				<div class="docFrame" id="addDocument">
					<a href="{{ path('family_main_document_new', {'personId': person.id}) }}">Ajouter un document</a>
				</div>
			</div>
		</div>
	</article>
{% endblock %}
