{% extends 'FamilyTreeBundle:Default:layout.html.twig' %}

{% block body %}

<h1>{{ person }}</h1>

Parents : <br>
{% if person.parentsRelation %}
	{% set firstParent = person.parentsRelation.firstPerson %}
	{% set secondParent = person.parentsRelation.secondPerson %}

	<a href="{{ path('family_tree_person', { 'id':  firstParent.id  }) }}">{{ firstParent }}</a> et 
	<a href="{{ path('family_tree_person', { 'id':  secondParent.id }) }}">{{ secondParent }}</a> 
	{% if person.parentsRelation.type == 0 %}
		(<a href="{{ path('family_tree_union', { 'id':  person.parentsRelation.id }) }}">Mariage</a>)
	{% elseif person.parentsRelation.type == 2 %}
		(<a href="{{ path('family_tree_union', { 'id':  person.parentsRelation.id }) }}">PACS</a>)
	{% elseif person.parentsRelation.type == 1 %}
		(<a href="{{ path('family_tree_union', { 'id':  person.parentsRelation.id }) }}">Union libre</a>)
	{% endif %}
	<br>
{% endif %}
<br>

Conjoint(es) : <br>
{% for rel in person.relations %}
	{% if rel.firstPerson.id == person.id %}
		{% set pers = rel.secondPerson %}
	{% else %}
		{% set pers = rel.firstPerson %}
	{% endif %}
	<a href="{{ path('family_tree_person', { 'id':  pers.id  }) }}">{{ pers }}</a> 
	{% if rel.type == 0 %}
		(<a href="{{ path('family_tree_union', { 'id':  rel.id }) }}">Mariage</a>)
	{% elseif rel.type == 2 %}
		(<a href="{{ path('family_tree_union', { 'id':  rel.id }) }}">PACS</a>)
	{% elseif rel.type == 1 %}
		(<a href="{{ path('family_tree_union', { 'id':  rel.id }) }}">Union libre</a>)
	{% endif %}
	<br>
{% endfor %}
<br>

Frères et soeurs : <br>
{% if person.parentsRelation %}
	{% for brother in person.parentsRelation.children %}
		{% if brother.id != person.id %}
			<a href="{{ path('family_tree_person', { 'id':  brother.id  }) }}">{{ brother }}</a>
			<br>
		{% endif %}
	{% endfor %}
{% endif %}
<br>

Enfants : <br>
{% for rel in person.relations %}
	{% for child in rel.children %}
		<a href="{{ path('family_tree_person', { 'id':  child.id  }) }}">{{ child }}</a>
		<br>
	{% endfor %}
{% endfor %}

<br>

<a href="{{ path('family_tree_family', { 'id':  person.family.id  }) }}">Retour à la page de la famille</a>

{% endblock %}