{% extends 'FamilyMainBundle:Default:layout.html.twig' %}

{% block titre %}
	Ma famille
{% endblock %}

{% block soustitre %}
	Les membres de ma famille :
	<span class="pull-right">
		{% spaceless %}
		<a href="{{  path('family_main_familyAccessCode_new') }}" title="Inviter des personnes à rejoindre votre famille">
			<span class="glyphicon glyphicon-envelope"></span>
		</a>
		{% endspaceless %}
		<div class="v-separ" style="height:18px;"></div>
		<a title="Options" href="{{  path('family_main_familySettings', {'id' : app.user.person.family.id} ) }}">
			<span class="glyphicon glyphicon-cog"></span>
		</a>
	</span>
{% endblock %}

{% block principal %}
	<div class="accesArbres">
		
	</div>
	<div class="listOfFamilyMembers">
	{% for person in persons %}
		<a href="{{ path('family_main_person', {'id': person.id}) }}" title='{{person.fullName}}'>{{person}}</a><br>
	{% endfor %}
	</div>

	<div class="h-separ"></div>

	<a href="{{ path('family_main_person_new') }}">Ajouter un membre à la famille</a>

{% endblock %}
