<aside class="sidebar col-md-3 visible-md-block visible-lg-block">

    <img class="logo" alt="Logo"></img>
    <div id="sidebarSearchForm" class="input-group">
        <input type="text" class="form-control" placeholder="Rechercher une personne">
        <a type="submit" class="input-group-addon btn"><span class="glyphicon glyphicon-search"></span></a>
    </div>
    <ul class="nav nav-pills nav-stacked">
        <li {% if app.request.attributes.get('_route') == 'family_main_homepage' %} class="active"{% endif %}>
            <a href="{{ path('family_main_homepage') }}">Accueil</a>
        </li>
        <li {% if app.request.attributes.get('_route') == 'family_main_allFamilies' %} class="active"{% endif %}>
            <a href="{{ path('family_main_allFamilies') }}">Toutes les familles</a>
        </li>
        {% if app.user and app.user.person %}
        <li {% if app.request.attributes.get('_route') == 'family_main_myFamily' %} class="active"{% endif %}>
            <a href="{{ path('family_main_myFamily') }}">Ma famille</a>
        </li>
        <li {% if app.request.attributes.get('_route') == 'family_main_myPerson' %} class="active"{% endif %}>
            <a href="{{ path('family_main_myPerson') }}">Ma fiche</a>
        </li>
        {% endif %}
        <li>
            <a href="#">{{ app.request.attributes.get('_route') }}</a>
        </li>
        <li>
            <a href="#">Page quelconque</a>
        </li>
    </ul>
</aside>
