<div class="person">
	<div class="photo"></div>
	<div class="content">
		<div class="name">{{ person.firstName }} <em>{{ person.middleNames }}</em> {{ person.lastName }}</div>
		<div class="birthDate">
			{% if person.birthDate %}° {{ person.birthDate | localizeddate('medium', 'none') }}{% endif %}
			</div>
		<div class="deathDate">
			{% if person.deathDate %}+ {{ person.deathDate | localizeddate('medium', 'none') }}{% endif %}
		</div>
	</div>
	
</div>