<!doctype html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Arbre</title>
</head>
<body>	
	
	<style>
		div {
			vertical-align: top;
		}
		#container {
			text-align: center;
			overflow: scroll;
			width: 3000px;
		}
		.blocks {
			display: inline-block;
		}
		.element {
			margin: 20px;
			margin-top: 0px;
			padding: 5px;
			display: inline-block;
			height: 150px;
			width: 120px;
			text-align: left;
		}
		.element.male {
			background-color: #6688FF;
		}
		.element.female {
			background-color: #FF8866;
		}
		.union {
			display: inline-block;
			margin-top: 61px;
			margin-bottom: 100px;
 		}
		.element .photo {
			height: 75px;
			width: 75px;
			background-color: #fff;
			display: inline-block;
			margin-left: auto;
			margin-right: auto;
		}
	/*
		#container {
			margin: 20px;
			text-align: center;
			overflow: scroll;
			width: 3000px;
			vertical-align: top;
		}
		#container>.blocks {
			display: inline-block;
			text-align: center;
			vertical-align: top;
		}
		.element {
			margin: 20px;
			padding: 5px;
			display: inline-block;
			height: 150px;
			min-width: 100px;
		}
		.element.male {
			background-color: #6688FF;
		}
		.element.female {
			background-color: #FF8866;
		}
		.element .photo {
			height: 60px;
			width: 50px;
			background-color: #fff;
			display: inline-block;
		}
		.union {
			display: inline-block;
			height: 150px;
		}
	*/
	</style>

	<div id="container">
		<div class="blocks">
			<div id="pers-{{ people.id }}" class="element {% if (people.sex == "F") %}fe{% endif %}male">
				<div class="person">
					<div class="photo"></div>
					<div class="name">{{ people.firstName }} {{ people.lastName }}</div>
					<div class="birthDate">N : {{ people.birthDate | date("d/m/Y") }}</div>
					<div class="deathDate">M : {{ people.deathDate | date("d/m/Y") | default(' - ') }}</div>
				</div>
			</div>
			{% for relation in people.relations %}
				<div id="rel-{{ relation.id }}" class="union">
					<div class="marriage">
						<div class="logo">Mariage</div>
						<div class="date">{{ relation.start | date("d/m/Y") | default(' - ') }}</div>
					</div>
				</div>

				<div id="pers-{{ relation.secondPerson.id }}" class="element {% if relation.secondPerson.sex == "F" %}fe{% endif %}male">
					<div class="person">
						<div class="photo"></div>
						<div class="name">{{ relation.secondPerson.firstName }} {{ relation.secondPerson.lastName }}</div>
						<div class="birthDate">N : {{ relation.secondPerson.birthDate | date("d/m/Y") }}</div>
						<div class="deathDate">M : {{ relation.secondPerson.deathDate | date("d/m/Y") | default(' - ') }}</div>
					</div>
				</div>

				<br>

				<div class="blocks">
					{% for child in relation.children %}
						<div id="pers-{{ child.id }}" class="element {% if child.sex == "F" %}fe{% endif %}male">
							<div class="child">
								<div class="photo"></div>
								<div class="name">{{ child.firstName }} {{ child.lastName }}</div>
								<div class="birthDate">N : {{ child.birthDate | date("d/m/Y") }}</div>
								<div class="deathDate">M : {{ child.deathDate | date("d/m/Y") | default(' - ') }}</div>
							</div>
						</div>
					{% endfor %}
				</div>
			{% endfor %}	
			<br>
			
		</div>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
	<script src="{{ asset('js/jquery.jsplumb-min.js') }}"></script>

	<script>
		jsPlumb.ready(function() {

			var married = {
				anchors:[ "LeftMiddle", "RightMiddle" ],
				paintStyle:{ lineWidth:2, strokeStyle:"#000000" },
				endpoint:"Blank",
				connector:"Straight"
			};
			var children = {
				anchors:[ "BottomCenter", "TopCenter" ],
				paintStyle:{ lineWidth:2, strokeStyle:"#000000" },
				endpoint:"Blank",
				connector:[ "Flowchart", { midpoint:0.8, stub:10, cornerRadius: 15 } ]
			};
			var childrenoverlap = {
				anchors:[ "BottomCenter", "TopCenter" ],
				paintStyle:{ lineWidth:2, strokeStyle:"#000000", outlineColor:"#eeeeee", outlineWidth:4 },
				endpoint:"Blank",
				connector:[ "Flowchart", { stub:13.333333333333 } ]
			};
			var related = {
				anchors:[ "BottomCenter", "TopCenter" ],
				paintStyle:{ lineWidth:2, strokeStyle:"#000000", outlineColor:"#eeeeee", outlineWidth:4 },
				endpoint:"Blank",
				connector:[ "Flowchart", { stub:13.333333333333 } ]
			};
			var related2 = {
				anchors:[ "TopCenter", "TopCenter" ],
				paintStyle:{ lineWidth:2, dashstyle:"4 2", strokeStyle:"#000000", outlineColor:"#eeeeee", outlineWidth:4 },
				endpoint:"Blank",
				connector:[ "Flowchart", { stub:13.333333333333 } ]
			};
			var siblings = {
				anchors:[ "TopCenter", "TopCenter" ],
				paintStyle:{ lineWidth:2, strokeStyle:"#000000", outlineColor:"#eeeeee", outlineWidth:4 },
				endpoint:"Blank",
				connector:[ "Flowchart", { stub:13.333333333333 } ]
			};

			{% for relation in people.relations %}
				jsPlumb.connect({ source: "rel-{{ relation.id }}", target:"pers-{{ relation.firstPerson.id }}" }, married);
				jsPlumb.connect({ source: "pers-{{ relation.secondPerson.id }}", target:"rel-{{ relation.id }}" }, married);
				{% for child in relation.children %}
					jsPlumb.connect({ source: "rel-{{ relation.id }}", target:"pers-{{ child.id }}" }, children);
				{% endfor %}

			{% endfor %}

		});
	</script>
	
</body>
</html>