{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Person</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ entity.firstName }}</td>
            </tr>
            <tr>
                <th>Middlenames</th>
                <td>{{ entity.middleNames }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ entity.lastName }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ entity.surName }}</td>
            </tr>
            <tr>
                <th>Sex</th>
                <td>{{ entity.sex }}</td>
            </tr>
            <tr>
                <th>Birthdate</th>
                <td>{{ entity.birthDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Deathdate</th>
                <td>{{ entity.deathDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ entity.notes }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('crud_person') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('crud_person_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
